@charset "utf-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
@font-face {
    font-family: 'EsaManru';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruLight.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'EsaManru';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruMedium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruMedium.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruMedium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruMedium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruMedium.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'EsaManru';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/gonggames/EsaManruBold.ttf') format("truetype");
    font-display: swap;
}


.body_user,.body_user button,.body_user input,.body_user select,.body_user textarea,.body_user table {
    font-family: "Pretendard Variable", 'Pretendard', 'Noto Sans KR','맑은 고딕','malgun gothic',sans-serif;
	font-size: 16px;
	word-break: keep-all;
	word-wrap: break-word;
	letter-spacing: -0.05em;
}

/* 사용자 공통변수 */
:root {
    --point-color1: #ED2452;
    --point-color2: #F9FEFF;
    --point-color3: #F85C83;
    --point-color4: #ED0773;
}

#wrap{width:100%; text-align:left;}
#container .root_daum_roughmap_landing{border-radius: 0; padding:0; border:0}

/* placeholder color */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: #999; font-size: 16px; font-weight: 400; transition: all .2s;}/* WebKit, Blink, Edge */
input:-moz-placeholder, textarea:-moz-placeholder {color: #999; font-size: 16px; font-weight: 400; opacity: 1; transition: all .2s;} /* Firefox 4 to 18 */
input::-moz-placeholder, textarea::-moz-placeholder {color: #999; font-size: 16px; font-weight: 400; opacity: 1; transition: all .2s;} /* Firefox 19+ */
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color: #999 !important; font-size: 16px !important; font-weight: 400 !important; transition: all .2s !important;} /* Internet Explorer 10-11 */
input::-ms-input-placeholder, textarea::-ms-input-placeholder {color: #999; font-size: 16px; font-weight: 400; transition: all .2s;} /* Microsoft Edge */
input::placeholder, textarea::placeholder {color: #999; font-size: 16px; font-weight: 400; transition: all .2s;} /* Most modern browsers support this now */

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {color: #222; font-size: 16px; font-weight: 400;}/* WebKit, Blink, Edge */
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder {color: #222; font-size: 16px; font-weight: 400; opacity: 1;} /* Firefox 4 to 18 */
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {color: #222; font-size: 16px; font-weight: 400; opacity: 1;} /* Firefox 19+ */
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {color: #222 !important; font-size: 16px !important; font-weight: 400 !important;} /* Internet Explorer 10-11 */
input:focus::-ms-input-placeholder, textarea:focus::-ms-input-placeholder {color: #222; font-size: 16px; font-weight: 400;} /* Microsoft Edge */
input:focus::placeholder, textarea:focus::placeholder {color: #222; font-size: 16px; font-weight: 400;} /* Most modern browsers support this now */


/************************* 공통 *****************************/

body,button,input,select,textarea,table {
	font-family: 'Noto Sans KR','맑은 고딕','malgun gothic',sans-serif;
	font-size: 16px;
	word-break: keep-all;
	word-wrap: break-word;
	letter-spacing: -0.05em;
}

/* 인풋 스타일 */
.input_box {position: relative; text-align: left;}
.input_box input {width: 100%; height: 100%; border: 1px solid #ddd; border-radius: 8px; padding: 0 24px; color: #222; font-size: 16px; position: relative; z-index: 2; height: 54px; transition: all .3s;}
.input_box input:focus {border-color: var(--point-color1);}
.input_box .btn_pw_view {position: absolute; right: 24px; z-index: 5; top: 50%; text-indent: -9999px; transform: translateY(-50%); width: 24px; height: 24px; background: #fff url('../images/ic_pw01.svg') no-repeat 50% 50%/100%; transition: all .2s;}
.input_box input[type="password"] + .btn_pw_view {background: #fff url('../images/ic_pw02.svg') no-repeat 50% 50%/100%;}
.input_box input:disabled {background: #f6f6f6; border-color: #f6f6f6; color: #222;}


/* 체크박스 스타일 */
.chk_box1 {display: inline-block; vertical-align: top; position: relative;}
.chk_box1 input[type="checkbox"] + label {padding-left: 32px; font-size: 15px; font-weight: 500; color: #666; position: relative; line-height: 32px; display: block; cursor: pointer;}
.chk_box1 input[type="checkbox"] + label:before {content: ''; position: absolute; left: 0; top: 50%; width: 24px; height: 24px; border: 1px solid #ddd; background: transparent; box-sizing: border-box; border-radius: 100%; transition: all .2s; transform: translateY(-50%);}
.chk_box1 input[type="checkbox"] + label:after {content: ''; position: absolute; left: 5px; top: 50%; width: 14px; height: 11px; background: url('../images/ic_chk01.svg') no-repeat 50% 50%/100%; box-sizing: border-box; filter: brightness(1); transition: all .2s; transform: translateY(-50%);}
.chk_box1 input[type="checkbox"]:checked + label:before {border-color: var(--point-color1); background: var(--point-color1);}
.chk_box1 input[type="checkbox"]:checked + label:after {background-image: url('../images/ic_chk02.svg');}
.chk_box2 {display: inline-block; vertical-align: top; position: relative; text-align: left;}
.chk_box2 input[type="checkbox"] + label {text-indent: -9999px; cursor: pointer; display: block; width: 24px; height: 24px; border-radius: 4px; position: relative;}
.chk_box2 input[type="checkbox"] + label:before {content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; border-radius: 4px; border: 1px solid #ddd; box-sizing: border-box; background: #fff; transition: all .2s;}
.chk_box2 input[type="checkbox"] + label:after {content: ''; position: absolute; left: 5px; top: 50%; width: 14px; height: 11px; background: url('../images/ic_chk01.svg') no-repeat 50% 50%/100%; box-sizing: border-box; filter: brightness(1); transition: all .2s; transform: translateY(-50%);}
.chk_box2 input[type="checkbox"]:checked + label:before {border-color: var(--point-color1); background: var(--point-color1);}
.chk_box2 input[type="checkbox"]:checked + label:after {background-image: url('../images/ic_chk02.svg');}

/* 스위치 */
.btn_switch {display: inline-block; vertical-align: top; position: relative; width: 60px;}
.btn_switch input[type="checkbox"] + label {width: 100%; position: relative; display: block; text-indent: -9999px; border-radius: 20px; background: #ddd; height: 28px; cursor: pointer; transition: all .3s;}
.btn_switch input[type="checkbox"] + label:before {content: 'OFF'; position: absolute; left: 0; top: 0; font-size: 14px; font-weight: 500; color: #fff; text-indent: 2px; line-height: 28px; width: 100%; padding: 0 4px; transition: all .3s;}
.btn_switch input[type="checkbox"] + label:after {content:''; position:absolute; top: 4px; right: 4px; width: 20px; height: 20px; transform: translateX(0); background: #fff; border-radius: 100%; transition: all .3s; box-shadow: 0 0 4px 0 rgba(144, 28, 38, 0.2);}
.btn_switch input[type="checkbox"]:checked + label {background: var(--point-color1);}
.btn_switch input[type="checkbox"]:checked + label:after {transform: translateX(-32px);}
.btn_switch input[type="checkbox"]:checked + label:before {content: 'On'; text-indent: 24px;}



/* select 스타일 */
.select_style1 {width: 100%; position: relative;}
.select_style1 select {width: 100%; display: block; padding: 0 24px; font-size: 16px; color: #999; background: none; border: 1px solid #ddd; border-radius: 8px; height: 54px; position: relative; z-index: 1; transition: all .3s;}
.select_style1:after {content: ''; position: absolute; right: 24px; top: 50%; transform: translateY(-50%); width: 24px; height: 24px; background: url('../images/ic_arrow09.svg') no-repeat 50% 50%/100%;}
.select_style1 select:focus {border-color: var(--point-color1);}


/* 버튼 스타일 */
.btn_style1 {text-align: center; position: relative; border: 1px solid var(--point-color4); position: relative; transition: all .5s;}
.btn_style1:before {content: ''; position: absolute; left: 50%; top: 50%; width: calc(100% - 6px); height: calc(100% - 6px); clip-path: polygon(10px 0%, calc(100% - 10px) 0%, 100% 10px, 100% calc(100% - 10px), calc(100% - 10px) 100%, 10px 100%, 0% calc(100% - 10px), 0% 10px); background: #fff; transform: translate(-50%, -50%) scale(0); transition: all .5s;}
.btn_style1 span {position: relative; z-index: 1; display: flex; justify-content: center; align-items: center; gap: 0 24px; font-size: 22px; font-weight: 500; color: var(--point-color4); font-family: 'EsaManru'; line-height: 30px; padding: 25px 0;}
.btn_style1 span:after {content: ''; width: 0; height: 0; border: 6px solid transparent; border-top-width: 6px; border-bottom-width: 6px; border-left-color: var(--point-color4);}
.btn_style1:hover {border-color: #fff;}
.btn_style1:hover:before {transform: translate(-50%, -50%) scale(1);}
.btn_style2 {text-align: center; position: relative; border: 1px solid #fff; position: relative; transition: all .5s;}
.btn_style2:before {content: ''; position: absolute; left: 50%; top: 50%; width: calc(100% - 6px); height: calc(100% - 6px); clip-path: polygon(10px 0%, calc(100% - 10px) 0%, 100% 10px, 100% calc(100% - 10px), calc(100% - 10px) 100%, 10px 100%, 0% calc(100% - 10px), 0% 10px); background: var(--point-color4); transform: translate(-50%, -50%) scale(0); transition: all .5s;}
.btn_style2 span {position: relative; z-index: 1; display: flex; flex-wrap: wrap; justify-content: center; align-items: center; gap: 0 24px; font-size: 22px; font-weight: 500; color: #fff; font-family: 'EsaManru'; line-height: 30px; padding: 25px 0;}
.btn_style2 span:after {content: ''; width: 0; height: 0; border: 6px solid transparent; border-top-width: 6px; border-bottom-width: 6px; border-left-color: #fff;}
.btn_style2:hover {border-color: #fff;}
.btn_style2:hover:before {transform: translate(-50%, -50%) scale(1);}
.btn_style3 {display: inline-block; vertical-align: top; border: 1px solid #ddd; max-width: 240px; width: 100%; line-height: 20px; padding: 15px 0; text-align: center; font-size: 16px; font-weight: 500; color: #666;}




/* textarea */
.textarea_box {border: none;}
.textarea_box textarea {height: 100%; border: 1px solid #ddd; border-radius: 8px; padding: 15px 24px; transition: all .3s;}
.textarea_box textarea:focus {border-color: var(--point-color1);}




.section_inner {position: relative; width: 100%; z-index: 2;}
.main_content .section_inner {position: relative; max-width: 1400px; width: 100%; margin: 0 auto;}
.pc_img {display: block;}
.m_img {display: none;}



/* 메인 */
.main_content .section0 {position: relative; overflow: hidden; display: block;}
.main_content .section0:before {content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 1; background: url('../images/bg_main1.png') no-repeat 50% 50%/cover;}
.main_content .section0 .section_inner {height: 100%;}
.main_content .section0 .section_con {padding: 60px 0 240px; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.main_content .section0 .section_con img {display: block; margin: 0 auto}
.main_content .section0 .section_con .logo_wrap {padding-bottom: 40px;}
.main_content .section0 .logo_wrap .logo img {margin: 0 auto; display: block;}
.main_content .section0 .logo_wrap strong {display: block; padding-top: 28px; font-size: 56px; font-weight: 300; color: #fff; text-align: center; font-family: 'EsaManru';}
.main_content .section0 .logo_wrap .txt {display: flex; align-items: center; justify-content: center; gap: 0 16px; padding-top: 16px;}
.main_content .section0 .logo_wrap .txt b {font-size: 20px; font-weight: 700; color: #fff;}
.main_content .section0 .logo_wrap .txt span {font-size: 20px; font-weight: 500; color: #fff;}
.main_content .section0 .video_wrap {max-width: 920px; position: relative; aspect-ratio: 920 / 520;}
.main_content .section0 .video_wrap:before {content: ''; position: absolute; left: 0; top: 0; width: 128px; height: 128px; transform: rotateZ(45deg) translateX(-90px); background: transparent; border-right: 1px solid #C63270; box-sizing: border-box; z-index: 2;}
.main_content .section0 .video_wrap:after {content: ''; position: absolute; right: 0; bottom: 0; width: 128px; height: 128px; transform: rotateZ(45deg) translateX(90px); background: transparent; border-left: 1px solid #C63270; box-sizing: border-box; z-index: 2;}
.main_content .section0 .video_wrap .video {height: 100%; position: relative; clip-path: polygon(90px 0%, 100% 0, 100% calc(100% - 90px), calc(100% - 90px) 100%, 0 100%, 0% 90px); overflow: hidden;}
.main_content .section0 .video_wrap .video:after {content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; border: 1px solid #C63270; box-sizing: border-box;}
.main_content .section0 .video_wrap video {width: 100%; height: 100%; object-fit: cover;}
.main_content .video_wrap .btn_video_play {text-indent: -9999px; position: absolute; left: 50%; top: 50%; width: 140px; height: 140px; z-index: 10; transform: translate(-50%, -50%);}
.main_content .video_wrap .video .btn_video_play:before {content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url('../images/btn_play.png') no-repeat 50% 50%/100%; transform: translateY(50%); opacity: 0; transition: all .5s;}
.main_content .video_wrap .video.video_playing .btn_video_play:before {background-image: url('../images/btn_pause.png');}
.main_content .video_wrap .video:hover .btn_video_play:before {transform: translateY(0); opacity: 1;}
.main_content .section0 .banner {position: absolute; left: 0; bottom: 0; width: 100%; display: flex; justify-content: center; align-items: center; z-index: 2; height: 80px; background: var(--point-color4);}
.main_content .section0 .banner br {display: none;}
.main_content .section0 .banner strong {text-align: center; position: relative; padding: 0 63px;}
.main_content .section0 .banner strong:before {content: ''; position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 23px; height: 14px; background: url('../images/arrow_1.svg') no-repeat 50% 50%/auto 100%;}
.main_content .section0 .banner strong:after {content: ''; position: absolute; right: 0; top: 50%; transform: translateY(-50%); width: 23px; height: 14px; background: url('../images/arrow_1.svg') no-repeat 50% 50%/auto 100%;}
.main_content .section0 .banner strong b {display: block; font-size: 22px; font-weight: 700; color: #fff; font-family: 'EsaManru'; padding: 0 63px; position: relative;}
.main_content .section0 .banner strong b:before {content: ''; position: absolute; left: 0; top: 50%; width: 23px; aspect-ratio: 22 / 34; background: url('../images/arrow_2.svg') no-repeat 50% 50%/auto 100%; transform: translateY(-50%);}
.main_content .section0 .banner strong b:after {content: ''; position: absolute; right: 0; top: 50%; width: 23px; aspect-ratio: 22 / 34; background: url('../images/arrow_2.svg') no-repeat 50% 50%/auto 100%; transform: translateY(-50%);}
.main_content .section_wrap {position: relative; overflow: hidden;}
.main_content .section_wrap:before {content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 1; background: url('../images/bg_main2.png') no-repeat 50% 0%/cover;}
.main_content .img_box img {width: 100%;}
.main_content .center_logo {display: block; padding-top: 100px;}
.main_content .tit {padding: 240px 0 100px; display: flex; justify-content: space-between; align-items: flex-end;}
.main_content .tit .btn_box {position: relative; aspect-ratio: 1 / 1; height: 280px; border-radius: 100%; background: linear-gradient(92.95deg, #DE548E 0%, #C63270 99.49%);}
.main_content .tit .btn_box:before {content: ''; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: calc(100% + 20px); height: calc(100% + 20px); box-sizing: border-box; border-radius: 100%; box-shadow: 0px 0px 20px 0px #EC609B, 0px 0px 250px 0px #EC609B; opacity: 0; transition: all .5s;}
.main_content .tit .btn_box a {display: block; width: 100%; height: 100%; position: relative;}
.main_content .tit .btn_box span {position: absolute; left: 0; top: 135px; width: 100%; text-align: center; overflow: hidden;}
.main_content .tit .btn_box a:before {content: ''; position: absolute; left: 50%; transform: translateX(-50%); top: 70px; width: 60px; height: 60px; background: url('../images/arrow_3.svg') no-repeat 0 0/100%; transition: all .5s;}
.main_content .tit .btn_box a:after {content: '';position: absolute;left: 50%; transform: translateX(-50%);top: 70px;width: 60px;height: 60px;background: url('../images/arrow_3.svg') no-repeat 0 60px/100%; transition: all .5s;}
.main_content .tit .btn_box:hover a:before {background-position-y: -60px;}
.main_content .tit .btn_box:hover a:after {background-position-y: 0;}
.main_content .tit .btn_box:hover:before {opacity: 1;}
.main_content .tit .btn_box em {display: block; text-align: center; overflow: hidden; margin-top: 4px;}
.main_content .tit .btn_box em:first-of-type {margin-top: 0;}
.main_content .tit .btn_box em i {display: block; transform: translateY(105%); transition: all .5s; line-height: 40px; font-size: 30px; font-weight: 700; color: #fff; letter-spacing: -0.05em;}
.main_content .tit .btn_box em i b {font-size: 32px; display: block;}
.main_content .tit .btn_box span:first-of-type em i {transform: translateY(0); font-size: 24px; font-weight: 500;}
.main_content .tit .btn_box:hover em i {transform: translateY(0);}
.main_content .tit .btn_box:hover span:first-of-type em i {transform: translateY(-100%);}
.main_content .btn_wrap {padding: 100px 0 160px; display: flex; justify-content: center; gap: 12px 24px;}
.main_content .btn_wrap a {max-width: 480px; width: 100%;}


/* 푸터 */
#footer .footer_inner {position: relative; max-width: 1400px; width: 100%; margin: 0 auto;}
#footer .f_banner {background: var(--point-color4); position: relative; padding: 30px 0;}
#footer .f_banner .list_sns {position: absolute; right: 0; top: 50%; transform: translateY(-50%); display: flex; gap: 0 40px;}
#footer .footer_area .f_box {display: flex; align-items: center;}
#footer .f_logo {margin-right: 40px; padding-right: 40px; position: relative;}
#footer .f_logo:after {content: ''; position: absolute; right: 0; top: 50%; transform: translateY(-50%); width: 1px; height: 32px; background: #ddd;}
#footer .list_sns {display: flex; gap: 0 40px;}
#footer .list_sns li {width: 28px; height: 28px;}
#footer .list_sns li a {display: block; width: 100%; height: 100%; position: relative; text-indent: -9999px;}
#footer .list_sns li a.btn_fb:before {content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url('../images/ic_fb.svg') no-repeat 50% 50%/100%;}
#footer .list_sns li a.btn_ytb:before {content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url('../images/ic_ytb.svg') no-repeat 50% 50%/100%;}
#footer .list_sns li a.btn_insta:before {content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url('../images/ic_insta.svg') no-repeat 50% 50%/100%;}
#footer .f_banner .list_logo {display: flex; gap: 0 80px; padding-right: 160px;}
#footer .f_banner .list_logo li {display: flex; justify-content: center; align-items: center;}
#footer .f_banner .list_logo li a {display: flex; justify-content: center; align-items: center;}
#footer .bottom_footer {background: #000; padding: 60px 0;}
#footer .bottom_footer .footer_inner {display: flex; justify-content: space-between; flex-direction: row;}


#footer address {max-width: 600px; width: 100%;}
#footer address ul {display: flex; flex-direction: column; gap: 8px 0;}
#footer address ul li {display: flex;}
#footer address ul li b {flex: 0 0 140px; line-height: 24px; font-size: 16px; font-weight: 600; color: #fff;}
#footer address ul li span {flex: 1; line-height: 24px; font-size: 16px; font-weight: 400; color: #fff;}

#footer p.copy {font-size: 16px; color: #fff; position: absolute; left: 0; bottom: 0;}












/********************************** 태블릿 **********************************/
@media screen and (max-width: 1317px){
    .main_content .section0 {padding: 0 20px;}
    .main_content .section0:before {background-image: url('../images/bg_main1_tb.png');}
    .main_content .section0 .section_con .logo_wrap {padding-bottom: 80px;}
    .main_content .section0 .video_wrap {aspect-ratio: 718 / 411;}
    .main_content .section0 .video_wrap .video {clip-path: polygon(70px 0%, 100% 0, 100% calc(100% - 70px), calc(100% - 70px) 100%, 0 100%, 0% 70px);}
    .main_content .section0 .video_wrap:before {width: 99px; height: 99px; transform: rotateZ(45deg) translateX(-70px);}
    .main_content .section0 .video_wrap:after {width: 99px; height: 99px; transform: rotateZ(45deg) translateX(70px);}
    .main_content .section_wrap:before {background-image: url('../images/bg_main2_tb.png');}
    .main_content .section1 .section_con {padding: 0 20px;}
    .main_content .center_logo {padding-top: 40px;}
    .main_content .tit {padding: 170px 0 55px;}
    .main_content .tit .btn_box {display: none;}
    .main_content .btn_wrap {padding: 80px 0 160px; gap: 12px 10px; flex-direction: row-reverse;}
    #footer .f_logo {padding-right: 0; margin-right: 0;}
    #footer .f_logo:after {display: none;}
    #footer .footer_inner {padding: 0 20px;}
    #footer .f_banner .list_logo {gap: 0 40px; padding-right: 0; justify-content: center;}
    #footer .f_banner .list_sns {right: 20px;}
    #footer .bottom_footer {padding: 40px 0;}
    #footer .bottom_footer .footer_inner {display: block;}
    #footer address {max-width: 100%;}
    #footer .footer_area .f_box {display: block;}
    #footer .list_sns {padding: 28px 0 36px;}
    #footer p.copy {position: static; padding-top: 36px;}

}


/********************************** 모바일 **********************************/
@media screen and (max-width: 920px){
    .btn_style1 span {padding: 15px 0; font-size: 18px;}
    .btn_style2 span {padding: 15px 0; font-size: 16px;}
    .btn_style2 span:after {display: none;}




    .pc_img {display: none;}
    .m_img {display: block;}
    .main_content .section0 {padding: 0 16px;}
    .main_content .section0:before {background-image: url('../images/bg_main1_m.png');}
    .main_content .section0 .section_con {display: block; padding: 80px 0 295px;}
    .main_content .section0 .section_con .logo_wrap {padding-bottom: 55px;}
    .main_content .section0 .section_con .logo_wrap .logo {max-width: 260px; width: 100%; margin: 0 auto;}
    .main_content .section0 .logo_wrap strong {font-size: 38px;}
    .main_content .section0 .logo_wrap .txt {padding-top: 15px; display: block; text-align: center;}
    .main_content .section0 .logo_wrap .txt b {display: block; font-size: 18px;}
    .main_content .section0 .logo_wrap .txt span {display: block; padding-top: 10px; font-size: 18px;}
    .main_content .section0 .video_wrap .video {clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);}
    .main_content .section0 .video_wrap:before {width: 43px; height: 43px; transform: rotateZ(45deg) translateX(-30px);}
    .main_content .section0 .video_wrap:after {width: 43px; height: 43px; transform: rotateZ(45deg) translateX(30px);}
    .main_content .video_wrap .btn_video_play {width: 100px; height: 100px;}
    .main_content .video_wrap .video.video_playing .btn_video_play:before {opacity: 0;}
    .main_content .section0 .banner br {display: block;}
    .main_content .section0 .banner strong {padding: 0 18px; flex: 1;}
    .main_content .section0 .banner strong:before {display: none;}
    .main_content .section0 .banner strong:after {display: none;}
    .main_content .section0 .banner strong b {padding: 0 20px; font-size: 18px;}
    .main_content .section0 .banner strong b:before {width: 12px;}
    .main_content .section0 .banner strong b:after {width: 12px;}
    .main_content .section_wrap:before {background-image: url('../images/bg_main2_m.png');}
    .main_content .center_logo {display: none;}
    .main_content .section1 .section_con {padding: 0 16px;}
    .main_content .tit {padding: 170px 0 60px;}
    .main_content .btn_wrap {padding: 40px 0 120px; flex-direction: column-reverse; align-items: center;}
    #footer .footer_inner {padding: 0 16px;}
    #footer .f_banner {padding: 20px 0;}
    #footer .f_banner .list_sns {position: static; transform: none; justify-content: center; gap: 0 20px; padding-bottom: 20px;}
    #footer .f_banner .list_logo {gap: 0 20px;}
    #footer .bottom_footer {padding: 25px 0;}
    #footer address ul {gap: 12px 0;}
    #footer address ul li b {flex: 0 0 100px; font-size: 14px;}
    #footer .list_sns {padding: 20px 0 24px;}
    #footer p.copy {padding-top: 24px; font-size: 14px;}




}















